@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    text-align: center;
    font: normal 1em Roboto;
    background-color: #22223B;
}

ul {
    margin-right: 50px;
    list-style-type: none;
}

input#submit {
    margin-top: 10px;
}

img {
    border-radius: 5px;
}

main {
    margin: auto;
    width: max-content;
    background-color: white;
    border-radius: 5px;
    padding-top: 1px;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 50px;
}

h2 {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #F2E9E4;
}

h1 {
    background-color: #C9ADA7;
}

input#idade {
    margin-left: 1.9px;
}

input#sexo {
    margin-left: 6px;
}

input#cor {
    margin-left: 17px;
}